<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../front/fonts/fontawesome/css/all.min.css">
    <!-- <link rel="stylesheet" href="../front/css/bootstrap.min.css"> -->
    <link href="../front/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../front/css/sb-admin-2.min.css" rel="stylesheet">
    <title>Menu - Dio System</title>
</head>
<style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style id="__web-inspector-hide-shortcut-style__">
    .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
    {
        visibility: hidden !important;
    }
    </style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
    
    <body id="page-top" class="">

        <!-- Page Wrapper -->
        <div id="wrapper">
      
          <!-- Sidebar -->
          <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
      
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
              <div class="sidebar-brand-icon rotate-n-30">
              </div>
              <div class="sidebar-brand-text mx-3">João </div>
            </a>
      
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
      
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-wrench"></i>
                <span>Máquina</span>
              </a>
              <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Ações:</h6>
                  <a class="collapse-item" href="maquina/add.php">Cadastrar</a>
                  <a class="collapse-item" href="maquina/index.php">Visualizar Cadastros</a>
                </div>
              </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fas fa-wrench"></i>
                  <span>Modelo de Máquina</span>
                </a>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="modelomaquina/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="modelomaquina/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
              </li>
              <!-- Divider -->
            <hr class="sidebar-divider my-0">
              <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-cogs"></i>
                  <span>Peça</span>
                </a>
                <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="peca/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="peca/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
             <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-cogs"></i>
                  <span>Tipos de Peça</span>
                </a>
                <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="tipopeca/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="tipopeca/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
             <!-- Nav Item - Utilities Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-fill"></i>
                  <span>Filtro</span>
                </a>
                <div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="filtro/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="filtro/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-fill"></i>
                  <span>Fabricante de Filtro</span>
                </a>
                <div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="fabricantefiltro/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="fabricantefiltro/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-oil-can"></i>
                  <span>Óleo</span>
                </a>
                <div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="oleo/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="oleo/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-oil-can"></i>
                  <span>Fabricante de Óleo</span>
                </a>
                <div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="fabricanteoleo/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="fabricanteoleo/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-fill-drip"></i>
                  <span>Tipo de Lubrificação</span>
                </a>
                <div id="collapse9" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                  <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ações:</h6>
                    <a class="collapse-item" href="tipolubrificacao/add.php"> Cadastrar</a>
                    <a class="collapse-item" href="tipolubrificacao/index.php"> Visualizar Cadastros</a>
                  </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Utilities Collapse Menu -->
        </ul>
        <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>  
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
  
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <div class="topbar-divider d-none d-sm-block"></div>
  
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <h5>
                      João
                    </h5></span>
                  <img class="img-profile rounded-circle" src="../img/trabalhador.jpg">
                </a>

                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sair
                  </a>
                </div>
              </li>
            </ul>

            
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1 class="h3 mb-0 text-gray-800"><strong>Tela Inicial</strong> </h1>
            </br>
            <h2 class="h3 mb-0 text-gray-800">Selecione alguma ação ao lado</h2>
            <img src="../img/logo_branco.png" width='750' height='400' style="margin-left: 150px;">
        <div>
        <footer class="sticky-footer" style="position: absolute; bottom: 0;">
            <div class="container my-auto">
               <div class="copyright my-auto">
                 <span>Copyright © Dio System 2020</span>
               </div>
             </div>
        </footer>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione o botão "Sair" abaixo para encerrar sua sessão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../index.html">Sair</a>
        </div>
      </div>
    </div>
  </div>
<!-- Bootstrap core JavaScript-->
<script src="../front/vendor/jquery/jquery.min.js"></script>
<script src="../front/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../front/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../front/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../front/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../front/js/demo/chart-area-demo.js"></script>
<script src="../front/js/demo/chart-pie-demo.js"></script>
</body>
</html>